@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* outline: 1px solid red; */
  font-family: 'Roboto', sans-serif;
  font-family: 'Times New Roman', Times, serif;
}
h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #1F2937;
}
.rock {
    background-color: rgb(148, 81, 81);
  }
  .ghost {
    background-color: #f7f7f7;
  }
  .electric {
    background-color: #ffffa1;
  }
  .bug {
    background-color: #F6D6A7;
  }
  .poison {
    background-color: #e0a7f6;
  }
  .normal {
    background-color: #F4F4F4;
  }
  .fairy {
    background-color: #ffc0cbdc;
  }
  .fire {
    background-color: #FBE3DF;
  }
  .grass {
    background-color:#E2F9E1;
  }
  .water {
    background-color:#E0F1FD;
  }
  .flying{
    background-color: #E0F1FD;
  }
  hr{
    border: 2px solid #E5E7EB;
  }